
<div class="row">
    <div class="col l3"></div>
    <div class="col l6">
      <img src="../img/BurgerMascot.png">
      <h2 id="webTitle">Burger and Buns</h2>
      <h4>A tracking queue of burgers to eat and who ate them</h4>
    </div>
    <div class="col l3"></div>
</div>

<div class="row">
    <div class="col l3"></div>
    <div class="col l6">
      <h3 id="formTitle">Add A Burger</h2>
      <form method="POST" action="/create">
        <textarea type="text" name="burger"></textarea>
        <button type="submit">ADD BURGER</button>
      </form>
    </div>
    <div class="col l3"></div>
</div>

<div class="row">
    <div class="col l5">
      <h3>Burgers to Eat</h3>
      <div class="divider"></div>

      <ul>
        {{#each burgers}}
          {{#unless this.has_been_eaten}}
          <br>
          <li>
            <p>{{this.id}}. {{this.burger}}</p>
            <form method="POST" action="/update?_method=PUT">
              <textarea type="text" name="eatenBy" burgerID="{{this.id}}" placeholder="Name of User"></textarea>
              <button type="submit">EAT DA BURGER</button>
            </form>
          </li>
          {{/unless}}
        {{/each}}
      </ul>

    </div>

    <div class="col l2">
    </div>

    <div class="col l5">
      <h3>Burgers Eaten</h3>
      <div class="divider"></div>

        <ul>
          {{#each burgers}}
            {{#if this.has_been_eaten}}
            <br>
            <li>
              <p>
                {{this.id}}. {{this.burger}} eaten by {{this.eaten_by}}
              </p>
            </li>
            {{/if}}
          {{/each}}
        </ul>


    </div>

</div>
